@import "@assets/css/main";

.main_banner {
  padding-top: 47px;
  &__container {
    max-width: 1440px;
  }
}

.portfolio {
  & .portfolio_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    & .box_media {
      width: calc((100% - 100px) / 2);
      margin-left: 100px;
      transition: ease-out 0.2s;
      padding: 10px;
      border-radius: 10px;
      &__img {
        border-radius: 10px;
        overflow: hidden;
      }
      &:hover {
        background-color: #e84118;
        & .box_media__title,
        .box_media__tags {
          color: #fff;
        }
        & .box_media__name {
          color: #fff;
          & span {
            color: #ffb4b4;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
      }
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }

  &_banner {
    display: flex;
    background-color: #5e39d766;
    border-radius: 15px;
    @media only screen and (max-width: 1300px) {
      flex-direction: column-reverse;
    }
    &__content {
      width: calc(100% - 700px);
      padding-top: 97px;
      padding-left: 67px;
      padding-bottom: 37px;
      @media only screen and (max-width: 1300px) {
        width: 100%;
        padding: 17px;
      }
      & h2 {
        font-weight: 700;
        font-size: 80px;
        line-height: 100px;
        margin-top: 0;
        margin-bottom: 14px;
        animation-delay: 0.4s;
        @media only screen and (max-width: 767px) {
          font-size: 40px;
          line-height: 60px;
        }
      }
      & h3 {
        margin: 0;
        animation-delay: 0.5s;
      }
    }
    &__info {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 34px;
      animation-delay: 0.6s;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__tags {
      font-weight: 500;
      font-size: 25px;
      line-height: 31px;
      animation-delay: 0.8s;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
      & span {
        &:not(:last-child) {
          &::after {
            content: " • ";
          }
        }
      }
    }
    &__apps {
      margin-top: 43px;
      margin-bottom: 34.4px;
      display: flex;
      column-gap: 38px;
      &_logo {
        // width: calc((100% - 200px) / 2);
        width: 200px;
        transition: transform 0.2s ease-in-out,
          -webkit-transform 0.2s ease-in-out;
        @media only screen and (max-width: 767px) {
          width: 140px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &__img {
      display: flex;
      align-items: center;
      width: 700px;
      @media only screen and (max-width: 1300px) {
        padding: 17px;
        width: 100%;
      }
    }
  }

  &_content {
    & h2 {
      text-align: center;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      margin-top: 62px;
      margin-bottom: 54px;
      @media only screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: revert;
      }
    }
    & p {
      font-weight: 400;
      font-size: 24px;
      line-height: 41px;
      letter-spacing: 0.35px;
      text-align: justify;
      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
      }
    }
    &__scopes {
      display: flex;
      column-gap: 71px;
      justify-content: space-between;
      margin-top: 119px;
      margin-bottom: 120px;
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        column-gap: 71px;
        margin-bottom: 90px;
      }
      &_item {
        width: 395px;
        height: 190px;
        background: rgba(44, 20, 175, 0.9);
        display: flex;
        align-items: center;
        border-radius: 15px;
        @media only screen and (max-width: 767px) {
          margin: 0 auto;
          width: 100%;
          margin-bottom: 20px;
          justify-content: center;
        }
        & h3 {
          color: #fff;
          font-weight: 600;
          font-size: 24px;
          line-height: 38px;
          margin-left: 22px;
          @media only screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 38px;
            margin: 0;
          }
        }
      }
    }

    &__team {
      &_flex {
        margin: 62px 0px;
        display: flex;
        align-items: center;
        column-gap: 17px;
        @media only screen and (max-width: 767px) {
          flex-direction: column-reverse;
        }
        & h2 {
          width: calc(100% - 550px);
          font-weight: 400;
          font-size: 26px;
          line-height: 60px;
          letter-spacing: 0.35px;
          text-align: left;
          @media only screen and (max-width: 1300px) {
            width: 100%;
            font-size: 25px;
            line-height: 35px;
          }
          & em {
            color: #e94118;
            font-style: normal;
          }
        }
        &_img {
          width: 550px;
          border-radius: 0 70px 0 70px;
          overflow: hidden;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
    &__quote {
      margin-bottom: 173px;
      margin-top: 120px;
      @media only screen and (max-width: 767px) {
        margin-top: 100px;
      }
      & > div {
        background: #dedede;
        border-radius: 0 70px 0 70px;
        @media only screen and (max-width: 1300px) {
          margin: 10px;
        }
      }
      &_text {
        display: flex;
        position: relative;
        margin-bottom: 46px;
        @media only screen and (max-width: 767px) {
          margin-bottom: 0px;
        }
        & p {
          font-style: italic;
          font-weight: 500;
          font-size: 50px;
          line-height: 75px;
          margin-top: 30px;
          @media only screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 35px;
          }
        }

        &_comma {
          background: transparent;
          width: 76.1px;
          position: absolute;
          left: -68px;
          top: 0;
          @media only screen and (max-width: 1300px) {
            top: -30px;
            left: -10px;
          }
        }
      }

      &_teller {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
          padding-bottom: 20px;
        }
        & h3,
        p {
          margin: 0;
          font-size: 50px;
          line-height: 75px;
          @media only screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 35px;
          }
        }

        & h3 {
          color: #2c14afe5;
        }
      }

      &_avatar {
        width: 130px;
        margin-right: 38px;

        @media only screen and (max-width: 767px) {
          margin-right: 18px;
        }
      }
    }
    &__list {
      font-weight: 600;
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 0.35px;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 28px;
      }
      & li {
        &::marker {
          font-weight: 300;
        }
      }
      &.number {
        list-style-type: auto;
      }
    }
  }

  &-demo {
    margin: 62px 0px 69px 0px;
    &__img {
      border-radius: 30px;
      overflow: hidden;
    }
  }

  &-related {
    & .box_media {
      margin-top: 0px;
      margin-bottom: 60px;
    }
  }

  &_scopes {
    & ul {
      display: flex;
      column-gap: 71px;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 60px;
      list-style: none;
      margin-left: 0;
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        column-gap: 71px;
        margin-bottom: 90px;
      }
      & li {
        width: 395px;
        height: 190px;
        background: rgba(44, 20, 175, 0.9);
        display: flex;
        align-items: center;
        border-radius: 15px;
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        line-height: 38px;
        padding: 0px 22px;
        text-align: initial;
        @media only screen and (max-width: 767px) {
          margin: 0 auto;
          width: 100%;
          margin-bottom: 20px;
          justify-content: center;
        }
      }
    }
  }

  &_design {
    & ol {
      background: #dedede;
      padding: 60px;
      border-radius: 0 70px 0 70px;
      margin: 0;
      @media only screen and (max-width: 767px) {
        padding: 40px;
      }
      & li {
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.35px;
      }
      & li::marker {
        font-weight: 300;
      }
    }

    & ul {
      background: #dedede;
      padding: 60px;
      border-radius: 0 70px 0 70px;
      margin: 0;
      @media only screen and (max-width: 767px) {
        padding: 40px;
      }
      & li {
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.35px;
      }
      & li::marker {
        font-weight: 300;
      }
    }
  }

  &_result {
    & ol,
    ul {
      background: #dedede;
      padding: 60px;
      border-radius: 0 70px 0 70px;
      margin: 0;
      @media only screen and (max-width: 767px) {
        padding: 40px;
      }
      & li {
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.35px;
        & em {
          color: #e94118;
          font-style: normal;
        }
        & strong {
          background-color: rgb(255, 116, 92);
          color: rgb(255, 255, 255);
        }
      }
      & li::marker {
        font-weight: 300;
      }
    }
  }
}
