@import "@assets/css/main.scss";

.article {
  &__contents {
    width: 80%;
    margin: auto;
    padding-bottom: 75px;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    & h2 {
      scroll-margin-top: 100px;
    }

    & .nav_links {
      column-gap: 50px;
    }
  }

  &__button {
    h3 {
      display: block;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #e84118;
      }
      @include mobile {
        font-size: 13px;
      }
    }
  }

  &__nav {
    column-gap: 50px;
    &_next {
      text-align: end;
    }
  }
}
